- include_javascript 'admin/page_preview'
%iframe{:id => 'page-preview', :name => 'page-preview', :src => '/loading-iframe.html', :frameborder => 0, :style => 'width:100%;height:40em;display:none;border:1px solid black;'}
  You don't support iframes. No preview for you.
