= javascript_include_tag 'page_preview'
%p.buttons{:style => 'float: left; padding-right: 5px;' }
  %input{:type=>'submit', :id => 'show-preview', :value => 'Preview', :class => 'button', :onclick => 'return preview(this)'}
