= javascript_include_tag 'admin/page_preview'
%p.buttons
  %input{:type=>'submit', :id => 'show-preview', :value => 'Preview', :class => 'button', :onclick => 'return preview(this)'}
%div#preview-notice{:style => 'display:none; background-color:#FFC;border:1px solid yellow; color:black;margin:5px 20px -10px 20px; padding: 0.75em;'}
  This is a preview, your changes have not yet been saved!
